.nav-tab {
  color: unset;
  text-decoration: unset;
  text-transform: uppercase;
  line-height: 32px;
  padding: 6px 12px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  cursor: pointer;
  margin: 8px 4px 0;
  font-weight: bold;

  &:hover {
    background-color: #f0f0f0;
  }

  &.selected {
    background-color: #ffffff;
  }
}
.ko-fi {
  margin-left: 8px;
}

.social-media {
  margin-left: auto;
  display: flex;
}

@media screen and (max-width: 768px) {
  .nav-tab {
    display: block;
    text-align: center;
    border-radius: none;
  }

  .social-media {
    margin: 0 8px 8px;
  }
}
