<a m-nav-tab route="/">{{'navigation.home'|translate}}</a>
<a m-nav-tab route="/about">{{'navigation.about'|translate}}</a>
<a m-nav-tab route="/archive">{{'navigation.archive'|translate}}</a>
<a m-nav-tab route="/dossiers">{{'navigation.dossiers'|translate}}</a>
<div class="social-media" role="section" [attr.aria-label]="'navigation.social'|translate">
  <a m-icon-button icon="twitter" target="_blank" href="https://twitter.com/mesozoffice"
    [attr.aria-label]="'social.twitter'|translate"></a>
  <a m-icon-button icon="instagram" target="_blank" href="https://www.instagram.com/mesozoffice/"
    [attr.aria-label]="'social.instagram'|translate"></a>
  <a m-icon-button icon="reddit" target="_blank" href="https://www.reddit.com/user/mesozoffice"
    [attr.aria-label]="'social.reddit'|translate"></a>
  <a m-icon-button icon="kofi" target="_blank" href="https://ko-fi.com/mesozoffice"
    [attr.aria-label]="'social.kofi'|translate"></a>
</div>
