<div>
  <span>{{'error.notFound'|translate}}</span>
  <img src="/assets/oops.png" [alt]="'home.notFoundAlt'|translate">
  <a [routerLink]="'/home'" queryParamsHandling="merge">{{'error.goHome'|translate}}</a>
</div>
