:host div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  flex-wrap: nowrap;

  img {
    flex-shrink: 1;
    max-width: 500px;
    max-height: 500px;
  }

  a {
    color: unset;
  }
}

@media screen and (max-width: 768px) {
  :host div img {
    width: 100vw;
  }
}
