:host {
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-content: center;

    &.md {
      width: 48px;
      height: 48px;

      img {
        width: 24px;
        height: 24px;
      }
    }

    &.sm {
      width: 32px;
      height: 32px;

      img {
        width: 16px;
        height: 16px;
      }
    }

    img {
        margin: auto;
    }

    &.light:hover {
        background-color: #f0f0f0;
    }

    &.dark:hover {
        border: 3px solid #f0f0f0;
    }
}
