.popup-overlay {
  position: fixed;
  z-index: 20;
  background: #0000007E;
  /*Hack for half-pixel possibility*/
  width: calc(100vw + 1px);
  height: calc(100vh + 1px);
  top: calc(50% - 1px);
  left: calc(50% - 1px);
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.close-icon {
  z-index: 21;
  font-size: 48px;
  line-height: 48px;
  color: #fff;
  position: fixed;
  top: 12px;
  right: 12px;
}

.popup {
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translate(-50%,0);
  z-index: 21;
}
