<div class="popup-overlay" (click)="onClick()" aria-hidden="true">
</div>
  <button #closebutton (click)="onClick()" class="close-icon" m-icon-button icon="cross" theme="dark"
    [attr.aria-label]="'actions.close'|translate"></button>
<div class="popup">
  <ng-content></ng-content>
</div>
