
<div class="main-info">
  <div class="avatar-column">
    <img src="{{getAvatar()}}" class="header-image" [alt]="genusEnum[employee.genus]" />
  </div>
  <div class="info-column">
    <span class="title">{{employee.firstName}} {{employee.lastName}}</span>
    <span class="subtitle">{{employee.position}}</span>
    <div class="info-row">
      <img class="info-icon" src="assets/svg/work.svg" [alt]="'dossiers.card.department'|translate" />
      <div class="info-text"><span>{{employee.department}}</span></div>
    </div>
    <div class="info-row">
      <img class="info-icon" src="assets/svg/mail.svg" [alt]="'dossiers.card.email'|translate" />
      <div class="info-text"><span>{{employee.email}}</span></div>
    </div>
  </div>
</div>
<div class="tabs">
  <div class="dummy"></div>
  <button [class.selected]="activeTab == 0" (click)="selectActiveTab(0)">{{'dossiers.card.personal'|translate}}
  </button>
  <button [class.selected]="activeTab == 1" (click)="selectActiveTab(1)">{{'dossiers.card.activity'|translate}}
  </button>
  <div class="dummy"></div>
</div>
<div class="tab-content" *ngIf="activeTab == 0">
  <div class="personal-wrapper">
    <div class="info-column">
      <div class="info-row">
        <div class="info-title">{{'dossiers.card.birthDate'|translate}}</div>
        <div class="info-text"><span>{{employee.birthdate | date}}</span></div>
      </div>
      <div class="info-row">
        <div class="info-title">{{'dossiers.card.genus'|translate}}</div>
        <div class="info-text"><a target="_blank" href="{{getGenusLink()}}">{{genusEnum[employee.genus]}} <img
              src="assets/svg/external.svg" /></a></div>
      </div>
      <div class="info-row">
        <div class="info-title">{{'dossiers.card.interests'|translate}}</div>
      </div>
      <div class="info-row">
        <div class="interest-list">
          <button class="interest" *ngFor="let interest of employee.interests"
            (click)="searchInterests(interest)">{{interest}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="tab-content" *ngIf="activeTab == 1">
  <app-strip-view [strips]="strips" [showParticipants]="false"></app-strip-view>
</div>

  <!-- TODO: Reviews from other colleagues -->
