:host {
  display: block;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}

.main-info {
  width: 550px;
  display: flex;

  .avatar-column {
    width: 200px;
    display: flex;
    justify-content: center;
    align-content: center;

    img {
      height: 160px;
      width: 160px;
      margin: 20px;
      border-radius: 8px;
    }
  }

  .info-column {
    flex-grow: 1;
    padding: 24px 12px;

    .title {
      font-size: 24px;
      display: block;
      font-weight: bold;
    }
    .subtitle {
      color: #888;
    }
  }
}

.tabs {
  display: flex;
  & > * {
    flex-basis: 50%;
    margin-top: 8px;
    padding: 8px 0;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
  }
  .dummy {
    flex-basis: 5%;
  }
  .selected {
    background-color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 1px solid #ddd;
    border-bottom: none;
  }
}

.tab-content {
  width: 550px;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.personal-wrapper {
  margin: 8px 32px;
}

.info-row {
  display: flex;
  margin-top: 16px;
  flex-wrap: wrap;
  .info-icon {
    width: 20px;
    margin: auto 0;
    margin-right: 20px;
  }
  .info-title {
    margin: auto 10px auto 0px;
    width: 50%;
    font-size: 20px;
    font-weight: 700;
  }
  .info-text {
    flex-grow: 1;
    margin: auto;
    margin-left: 0;
    a {
      text-decoration: none;
      vertical-align: middle;
      color: unset;
      img {
        height: 12px;
      }
    }
  }
}

.interest-list {
  display: flex;
  flex-wrap: wrap;
  .interest {
    background-color: #ddd;
    border-radius: 99px;
    padding: 6px 12px;
    margin-right: 12px;
    margin-bottom: 12px;
    white-space:nowrap;
  }
}

@media screen and (max-width: 768px) {
  .main-info {
    width: calc(100vw - 20px);

    .avatar-column {
      width: 100px;

      img {
        height: 80px;
        width: 80px;
        margin: auto 10px;
      }
    }
  }

  .tab-content {
    width: 100%;
  }
}
