.form-field {
  margin-bottom: 12px;
  input {
    font-family: 'Kaeru';
    font-size: 18px;
    line-height: 2em;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  input:focus-visible {
    outline: none;
    border-bottom: 1px solid #bbb;
  }
}

table {
  margin: 24px 0;
  border-collapse: collapse;
}

tr {
  cursor: pointer;
}

tr.employee:hover {
  background-color: #eee;
}

td, th {
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-collapse: collapse;
  padding: 12px;
  font-size: 18px;
}

th {
  font-weight: bold;
  border-color: #bbb;
  white-space: nowrap;

  img {
    height: 18px;
    visibility: hidden;
    margin-bottom: -4px;
  }

  img.selected {
    visibility: visible;
  }

  img.inversed {
    transform: rotate(180deg);
  }
}

@media screen and (max-width: 768px) {
  tr > * + * + * + * {
    display: none;
  }
}

