<div class="form-field">
  <label class="screen-reade-only" for="search-box">{{'dossiers.search.placeholder'|translate}}</label>
  <input [(ngModel)]="searchString" id="search-box" (input)="getEmployees()"
    placeholder="{{'dossiers.search.placeholder'|translate}}" />
  <button *ngIf="searchString" [attr.aria-label]="'dossiers.search.clear'|translate" (click)="clearSearchField()">
    X
  </button>
</div>
<table>
  <tr>
    <th *ngFor="let prop of columnsToDisplay" role="button" tabindex="0" (click)="sort(prop)">
      {{('dossiers.table.'+prop)|translate}}
      <img src="/assets/svg/arrow_down.svg" [ngClass]="{'selected': sortBy == prop, 'inversed': sortDirection != 'asc'}"
        aria-hidden="true" focusable="false" />
    </th>
  </tr>
  <tr *ngFor="let employee of employees" class="employee" role="button" tabindex="0" (click)="view(employee)"
    (keyup.enter)="view(employee)" (keyup.space)="view(employee)">
    <td *ngFor="let prop of columnsToDisplay">{{employee[prop]}}</td>
  </tr>
</table>
<app-popup *ngIf="selected" (toggle)="toggleEmployeeView()">
  <app-employee-view [employeeId]="selected" (search)="onSearchUpdate($event)">
  </app-employee-view>
</app-popup>
