<div class="section">
  <h2>{{'about.comics.title' | translate}}</h2>
  <img class="image-right office" src="assets/example2.png" alt="{{'about.comics.image'|translate}}">
  <p>
    {{'about.comics.description.p1' | translate}}
  </p>
  <p>
    {{'about.comics.description.p2' | translate}}
    </p>
    <p>
      {{'about.comics.description.p3' | translate}}
  </p>
</div>
<div class="section">
  <h2>{{'about.author.title' | translate}}</h2>
  <img class="image-left avatar" src="assets/author.jpg" alt="{{'about.author.image'|translate}}">
  <p>
    {{'about.author.description.p1' | translate}}
  </p>
  <p>
    {{'about.author.description.p2' | translate}}
  </p>
</div>
<div class="section">
  <p>
    {{'about.social' | translate}}
  </p>
  <div class="social-media">
    <a m-icon-button icon="twitter" target="_blank" href="https://twitter.com/mesozoffice"
      [attr.aria-label]="'social.twitter'|translate"></a>
    <a m-icon-button icon="instagram" target="_blank" href="https://www.instagram.com/mesozoffice/"
      [attr.aria-label]="'social.instagram'|translate"></a>
    <a m-icon-button icon="reddit" target="_blank" href="https://www.reddit.com/user/mesozoffice"
      [attr.aria-label]="'social.reddit'|translate"></a>
  </div>
  <p>
    {{'about.kofi' | translate}}
  </p>
  <div class="social-media">
    <a target="_blank" href="https://ko-fi.com/mesozoffice" aria-label="Support me on Ko-fi"><img
        src="/assets/ko-fi_button.png" height="40" aria-hidden="true" focusable="false" /></a>
  </div>
</div>
