:host {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.section {
  margin: 0 30px;
}

.image-left {
  float: left;
  margin-right: 32px;
}

.image-right {
  float: right;
  margin-left: 32px;
}

.office {
  width: 400px;
}

.avatar {
  border-radius: 50%;
  width: 100px;
}

.social-media {
  display: flex;
}

@media screen and (max-width: 768px) {
  h2, p {
    text-align: center;
  }
  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 24px;
  }

  .office {
    width: 100%;
    margin: 0 -16px 10px -16px;
    max-width: 400px;
    float: unset;
  }

  .image-left,
  .image-right,
  .avatar {
    float: unset;
    margin: 0 auto;
  }

  .social-media {
    justify-content: center;
  }
}
