<button class="list-item" *ngFor="let strip of strips; let i = index" (click)="selectStrip(i)">
  <img class="preview" [src]="strip.preview" aria-hidden="true">
  <div class="info">
    <span class="title">#{{strip.number}} {{strip.title|translate}}</span>
    <span class="date"> {{strip.date | date}}</span>
  </div>
  <div class="participants" *ngIf="showParticipants" [attr.aria-label]="'archive.participants'|translate">
    <img class="avatar" *ngFor="let id of strip.participants" src="{{getAvatar(id)}}" alt="{{id}}">
  </div>
</button>
