:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;

  .list-item {
    display: flex;
    padding: 12px;
    border-bottom: 2px solid #f5f5f5;

    .preview {
      width: 80px;
      height: 80px;
      margin-right: 12px;
    }

    .info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .date {
        font-size: 14px;
      }
    }

    .participants {
      display: flex;
      margin-left: auto;
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        flex-basis: 45%;
        flex-grow: 0;
        margin-left: 8px;
      }
    }
  }

  .list-item:hover {
    background-color: #f5f5f5;
  }
}

@media screen and (max-width: 768px) {
  :host {
    .list-item {
      .item-content {
        padding: 0;
      }

      .participants {
        display: none;
      }
    }
  }
}
