:host {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.main {
    flex-grow: 1;
    max-width: 975px;
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    height: calc(100% - 64px);
    margin: 64px auto 0 auto;
}

@media screen and (max-width: 1024px) {
  .main {
    width: calc(100% - 32px);
  }
}

@media screen and (max-width: 768px) {
  .main {
    max-width: 768px;
    width: 100%;
  }
}
