<app-strip-list [strips]="_strips" (select)="onStripClick($event)" [showParticipants]="showParticipants">
</app-strip-list>

<app-strip-overlay *ngIf="selected >= 0" [strips]="_strips" [selected]="selected" (select)="onStripClick($event)"
  (close)="closeOverlay()">
</app-strip-overlay>
