<app-popup (toggle)="onClose()">
  <div class="wrapper">
    <button [disabled]="selected == 0" (click)="prev($event)" m-icon-button icon="arrow_left" theme="dark"
      [attr.aria-label]="'archive.navigation.previous'|translate"></button>
    <app-strip-card [strip]="getSelected()"></app-strip-card>
    <button [disabled]="selected == strips.length - 1" (click)="next($event)" m-icon-button icon="arrow_right"
      theme="dark" [attr.aria-label]="'archive.navigation.next'|translate"></button>
  </div>
  </app-popup>
