.wrapper {
  display: flex;
  justify-content: center;
  max-width: calc(100vw - 24px);

  button {
    margin: auto 10px;
  }

  button:disabled {
    visibility: hidden;
  }
}


@media screen and (max-width: 768px) {
  .wrapper {
    width: calc(100vw - 24px);
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 12px;
  }

  app-strip-card {
    order: 2;
    width: 100%;
    margin: 0 auto;
  }

  button {
    order: 1;
    bottom: 0;
    z-index: 30;
  }
}
