<div class="strip">
  <div *ngIf="strip" class="buttons">
    <button [disabled]="strip.number == 1" (click)="prev()" class="navigation-button navigation-button-left">
      <img src="/assets/svg/chevron_left.svg" aria-hidden="true" focusable="false" />
      <span>{{'home.prev'|translate}}</span></button>
    <button (click)="rand()" class="navigation-button navigation-button-left">{{'home.random'|translate}}</button>
    <button [disabled]="lastNum == strip.number" (click)="next()" class="navigation-button navigation-button-right">
      <span>{{'home.next'|translate}}</span>
      <img src="/assets/svg/chevron_right.svg" aria-hidden="true" focusable="false" />
    </button>
  </div>
  <app-strip-card *ngIf="strip" [strip]="strip" [width]="700"></app-strip-card>
  <div *ngIf="!strip" class="no-strip">
    <span>{{'home.notFound'|translate}}</span>
    <img src="/assets/oops.png" [alt]="'home.notFoundAlt'|translate">
    <a [routerLink]="'/archive'" queryParamsHandling="merge">{{'home.tryArchive'|translate}}</a>
  </div>
</div>
