:host {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .strip {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
  }

  .buttons {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 32px 6px 32px;

    button {
      border-radius: 8px;
      font-weight: bold;
      text-transform: uppercase;
    }

    button:nth-child(2) {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    img {
      height: 12px;
      width: 12px;
      margin: 0 12px;
    }
  }

  .no-strip {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

    img {
      flex-shrink: 1;
      max-width: 500px;
      max-height: 500px;
    }

    a {
      color: unset;
    }
  }
}

@media screen and (max-width: 768px) {
  .buttons span {
    display: none;
  }

  .strip {
    margin: 0 8px;
  }
}
