<div class="toolbar">
    <!-- <img id="logo" src="../assets/logo.png" width="200" /> -->
    <app-menu-items class="nav-horizontal"></app-menu-items>
  <div class="locale-switch" [attr.aria-label]="'navigation.languages.title'|translate">
    <button [classList]="localeClass('en')" (click)="toggleLanguage('en')"
      [attr.aria-label]="'navigation.languages.en'|translate">EN</button>
    <button [classList]="localeClass('pt')" (click)="toggleLanguage('pt')"
      [attr.aria-label]="'navigation.languages.pt'|translate">PT</button>
    <!-- <button [classList]="localeClass('ru')" (click)="toggleLanguage('ru')">RU</button> -->
  </div>
  <button class="nav-mobile" m-icon-button icon="menu" (click)="toggleMenu()"
    [attr.aria-label]="'navigation.menu'|translate">
  </button>
</div>
<app-popup *ngIf="menuOpen" (toggle)="toggleMenu()">
  <app-menu-items class="menu"></app-menu-items>
</app-popup>
