:host {
  position: fixed;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 8px 0 0 0;
  background-color: #ddd;
}


  .toolbar {
    display: flex;
    flex-direction: row;
    width: 975px;
    margin: 0 auto;
  }

  .nav-horizontal {
    display: flex;
    width: 100%;
  }
  .nav-mobile {
    display: none;
  }

.locale-switch {
  border-radius: 8px;
  box-shadow: 0 0 0 2px #b8b8b8;
  margin-bottom: 8px;
  margin-left: 32px;
  flex-shrink: 0;

  button {
    height: 100%;
    padding: 4px 12px;
    font-weight: bold;
    border-radius: 0;

    &:hover {
      background-color: #f0f0f0;
    }

    &.selected {
      background-color: #fff;
    }
  }

  button:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  button:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

}

@media screen and (max-width: 1024px) {
  .toolbar {
    width: calc(100% - 32px);
  }
}

@media screen and (max-width: 768px) {
  :host {
    .nav-horizontal {
      display: none;
    }
    .nav-mobile {
      display: flex;
      margin: 0 8px 8px auto;
    }
  }

  .locale-switch {
    margin-left: 0;
  }

  .menu {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
  }
}
