/* StripCardComponent's private CSS styles */
:host {
  position: relative;
  max-width: 700px;
  background-color: #fff;
  border: solid 2px #f5f5f5;
  border-radius: 12px;
  overflow: hidden;
  box-shadow:
  0 2px 1px -1px rgba(0,0,0,.2),
  0 1px 1px 0 rgba(0,0,0,.14),
  0 1px 3px 0 rgba(0,0,0,.12);

  img {
    max-height: calc(100vh - 240px);
  }
}

.dots {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 8px;

  button:disabled{
    visibility: hidden;
  }

  button:first-child {
    margin: 0 48px;
    margin-right: auto;
  }

  button:last-child {
    margin: 0 48px;
    margin-left: auto;
  }

  button.dot {
    display: flex;
    margin: auto 0;
    padding: 0;
    border-radius: 999px;
    span {
      border-radius: 999px;
      height: 8px;
      width: 8px;
      margin: 8px;
      background-color: #ccc;
    }
  }

  button.dot.selected span{
    background-color: #888;
  }
}

.actions {
  border-top: solid 2px #f5f5f5;
  padding: 8px;
  display: flex;
  padding-right: 28px;
  color: #464646;

  span {
    margin: auto;
    margin-right: 10px;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 768px) {
  :host {
    width: calc(100vw - 24px);
    img {
      width: 100%;
      max-height: unset;
    }
  }

  .actions {
    padding-right: 8px;
  }
}
