<div *ngFor="let file of strip.files let i = index" (touchstart)="onTouchStart($event)" (touchend)="onTouchEnd($event)">
  <img *ngIf="i == selectedFile" src="assets/strips/{{lang}}/{{file}}" alt="{{strip.title|translate}}">
</div>
<div class="dots" *ngIf="showDots()">
  <button [disabled]="selectedFile == 0" (click)="prevFile()" m-icon-button icon="chevron_left" size="sm"
    [attr.aria-label]="'card.navigation.previous'|translate"></button>
  <button *ngFor="let file of strip.files let i = index" class="dot" [class.selected]="i == selectedFile"
    (click)="select(i)"
    [attr.aria-label]="i == selectedFile? ('card.navigation.goToSelected'|translate: { number: i+1 }) : ('card.navigation.goTo'|translate: { number: i+1 })">
    <span></span>
  </button>
  <button [disabled]="selectedFile == strip.files.length - 1" (click)="nextFile()" m-icon-button
    icon="chevron_right" size="sm" [attr.aria-label]="'card.navigation.next'|translate"></button>
</div>
<div class="actions">
  <span>{{'card.share'|translate}}:</span>
  <a m-icon-button icon="twitter" target="_blank" href="{{getTwitterLink()}}"
    [attr.aria-label]="'social.twitter'|translate"></a>
  <a m-icon-button icon="facebook" target="_blank" href="{{getFacebookLink()}}"
    [attr.aria-label]="'social.facebook'|translate"></a>
  <a m-icon-button icon="reddit" target="_blank" href="{{getRedditLink()}}"
    [attr.aria-label]="'social.reddit'|translate"></a>
  <button m-icon-button icon="link" (click)="showSnackBar()" [cdkCopyToClipboard]="getLink()"
    [attr.aria-label]="'card.link'|translate"></button>
</div>
<app-snack-bar #snackbar></app-snack-bar>
