/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Kaeru";
  src: url(./assets/fonts/Kaeru-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Kaeru";
  src: url(./assets/fonts/Kaeru-Bold.ttf) format("truetype");
  font-weight: bold;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Kaeru';
  font-size: 20px;
}

button {
  font-family: 'Kaeru';
  font-size: 20px;
  border: none;
  background: none;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  color: unset;
  background-color: transparent;
  cursor: pointer;
  padding: 4px 8px;
}

button:disabled {
  opacity: 0.5;
  cursor: auto;
}

.screen-reade-only {
  position: absolute;
  left:     -10000px;
  top:      auto;
  width:    1px;
  height:   1px;
  overflow: hidden;
}

@media screen and (max-width: 768px) {

}
